# Auto detect text files and perform LF normalization
* text=auto
# Auto detect text files and perform LF normalization
* text=auto

*.bash   eol=lf
*.bashrc eol=lf
*.config eol=lf
*.hcl    eol=lf
*.pem    eol=lf
*.rb     eol=lf
*.sh     eol=lf
*.tf     eol=lf
*.tfvars eol=lf
